<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zybooks.project2">

    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project2">
        <activity
            android:name=".UpdateItemActivity"
            android:exported="false"
            android:parentActivityName=".InventoryActivity"/>
        <activity
            android:name=".AddItemActivity"
            android:exported="false"
            android:label="Add Item"
            android:parentActivityName=".InventoryActivity" />
        <activity
            android:name=".RegisterScreen"
            android:exported="false"
            android:label="InventoryPro - Register"
            android:parentActivityName=".LoginScreen" />
        <activity
            android:name=".Settings"
            android:exported="true"
            android:label="Settings"
            android:parentActivityName=".InventoryActivity" />
        <activity
            android:name=".InventoryActivity"
            android:exported="true"
            android:label="InventoryPro" />
        <activity
            android:name=".LoginScreen"
            android:exported="true"
            android:label="InventoryPro - Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>